@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Domain.Dto
@using Microsoft.AspNetCore.Authorization
@using TransporteWeb.Repository.Interfaz
@inject ISnackbar Snackbar
@inject IBaseRepository<Conductor,ConductorDto> ConductorService
@inject IBaseRepository<Propietario,PropietarioDto> PropietarioService
@inject IBaseRepository<Camion,CamionDto> CamionService


@attribute [Authorize]
@page "/conductor"
<h3>ConductorPage</h3>


<MudPaper Height="90%" Width="90%" Class="mx-auto">
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" TabPanelsClass="pa-6" @ref="_tabs">

        <MudTabPanel Text="Lista">

            <MudDataGrid T="ConductorDto" Items="@list" SortMode="SortMode.Multiple" Filterable="true"
                         Hideable="true">
                    
                <Columns>
                    <PropertyColumn Property="x => x.Nombre" Title="Placa" />
                    <PropertyColumn Property="x => x.Apellido" Title="Placa" />
                    <PropertyColumn Property="x => x.Cedula" Title="Placa" />
                    <PropertyColumn Property="x => x.Propietario.Nombre" Title="Propietario" />

                    <TemplateColumn CellClass="d-flex justify-end">
                        <CellTemplate>
                            @{
                                var item = context.Item;  // context es el item actual de la tabla
                            }
                            <MudStack Row>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                                               OnClick="() => GetItemById(item.Id)" Class="mx-1" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                               OnClick="() => DeleteItem(item.Id)" Class="mx-1" />
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>

                </Columns>
                <PagerContent>
                    <MudDataGridPager T="ConductorDto" />
                </PagerContent>
            </MudDataGrid>
        </MudTabPanel>

        <MudTabPanel Text="Formulario">

            <MudGrid>
                <MudItem xs="12" sm="7" md="10">
                      
                    <MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors" OnEnterPressed="@(() => _form.ValidateAsync())">
                                
                        <MudTextField T="string" @bind-Value="_item.Nombre" Label="Nombre" Required="true" RequiredError="Nombre es requerido!" Class="mt-3" />
                        <MudTextField T="string" @bind-Value="_item.Apellido" Label="Apellido" Required="true" RequiredError="Apellido es requerido!" Class="mt-3" />
                        <MudTextField T="string" @bind-Value="_item.Cedula" Label="Cédula" Required="true" RequiredError="Cédula es requerida!" Class="mt-3" />
              
                        <div class="mt-6">
                            <MudAutocomplete T="CamionDto"
                                             Label="Buscar Camion"
                                             @bind-Value="_item.Camion"
                                             SearchFunc="@SearchCamiones"
                                             ToStringFunc="@(x => x?.Placa1 ?? "")"
                                             Variant="Variant.Outlined"
                                             Clearable="true"
                                             Immediate="true"
                                             DebounceInterval="300">
                            </MudAutocomplete>
                        </div>

                        <div class="mt-6">
                            <MudSelect @bind-Value="_item.Propietario_Id" Label="Selecciona un Propietario"
                                       Variant="Variant.Outlined" ShrinkLabel>
                                @foreach (var state in propietarios)
                                {
                                    <MudSelectItem Value="@state.Id">@state.Nombre</MudSelectItem>
                                }
                            </MudSelect>
                        </div>

                        <MudDatePicker Label="fecha Alta" Class="mt-4"  @bind-Date="_date" />

                    </MudForm>

                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mt-3" OnClick="@(async () => await Submit())">Guardar</MudButton>
                           
       
                </MudItem>
  
            </MudGrid>

        </MudTabPanel>
    </MudTabs>
        
</MudPaper>

@code {

}
