@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Domain.Dto
@using Microsoft.AspNetCore.Authorization
@using TransporteWeb.Repository.Interfaz
@inject ISnackbar Snackbar
@inject IBaseRepository<Conductor,ConductorDto> ConductorService
@inject IBaseRepository<Camion,CamionDto> CamionService
@inject IBaseRepository<Propietario,PropietarioDto> PropietarioService
@inject IBaseRepository<CentroDistribucion,CentroDistribucionDto> OrigenService
@inject IBaseRepository<CentroDistribucion,CentroDistribucionDto> DestinoService
@inject IBaseRepository<Guia,GuiaDto> GuiaService
@attribute [Authorize]
@page "/guias"
<h3>GuiasPage</h3>


<MudPaper Height="90%" Width="90%" Class="mx-auto">
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" TabPanelsClass="pa-6" @ref="_tabs"  ActivePanelIndexChanged="OnTabChanged">

        <MudTabPanel Text="Lista">

            <MudTextField @bind-Value="_searchString" Placeholder="Buscar..." Adornment="Adornment.Start" Immediate="true"
                          Clearable="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-4"></MudTextField>


            <MudDataGrid T="GuiaDto" Items="@list" SortMode="SortMode.Multiple" QuickFilter="@_quickFilter">
                    
                <Columns>
                    <PropertyColumn Property="x => x.Numero_guia" Title="Numero Guia" />
                    <PropertyColumn Property="x => x.Conductor.NombreCompleto" Title="Conductor" />
                    <PropertyColumn Property="x => x.Camion.Placa1" Title="Placa" />
                    <PropertyColumn Property="x => x.Origen.Nombre" Title="Origen" />
                    <PropertyColumn Property="x => x.Destino.Nombre" Title="Destino" />

                    <TemplateColumn CellClass="d-flex justify-end">
                        <CellTemplate>
                            @{
                                var item = context.Item;  // context es el item actual de la tabla
                            }
                            <MudStack Row>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                                               OnClick="() => GetItemById(item.Id)" Class="mx-1" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                               OnClick="() => DeleteItem(item.Id)" Class="mx-1" />
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>

                </Columns>
                <PagerContent>
                    <MudDataGridPager T="GuiaDto" />
                </PagerContent>
            </MudDataGrid>
        </MudTabPanel>

        <MudTabPanel Text="Formulario">

            <MudGrid>
                <MudItem xs="12" sm="7" md="10">
                      
                    <MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors" OnEnterPressed="@(() => _form.ValidateAsync())">
                                
                        <MudTextField T="string" @bind-Value="_item.Numero_guia" Label="Numero Guia" Required="true" RequiredError="Numero Guia es requerido!" Class="mt-3" />

                        <div class="mt-6">
                        

                            <MudAutocomplete T="ConductorDto"
                                             Label="Buscar Conductor"
                                             @bind-Value="_item.Conductor"
                                             SearchFunc="@SearchConductores"
                                             ToStringFunc="@(x => x?.NombreCompleto ?? "")"
                                             Variant="Variant.Outlined"
                                             Clearable="true"
                                             Immediate="true"
                                             DebounceInterval="300"
                                             @bind-Value:after="OnConductorSelected">
                            </MudAutocomplete>
                        </div>

                 
                        <div class="mt-6">
                            <MudAutocomplete T="CamionDto"
                                             Label="Buscar Camion"
                                             @bind-Value="_item.Camion"
                                             SearchFunc="@SearchCamiones"
                                             ToStringFunc="@(x => x?.Placa1 ?? "")"
                                             Variant="Variant.Outlined"
                                             Clearable="true"
                                             Immediate="true"
                                             DebounceInterval="300">
                            </MudAutocomplete>
                        </div>

                       

                        <div class="mt-6">
                            

                            <MudAutocomplete T="CentroDistribucionDto"
                                             Label="Buscar centro Origen"
                                             @bind-Value="_item.Origen"
                                             SearchFunc="@SearchCentros"
                                             ToStringFunc="@(x => x?.Nombre ?? "")"
                                             Variant="Variant.Outlined"
                                             MinCharacters="0"
                                             Clearable="true"
                                             Immediate="true"
                                             DebounceInterval="300">
                            </MudAutocomplete>
                        </div>

                        <div class="mt-6">
                            <MudAutocomplete T="CentroDistribucionDto"
                                             Label="Buscar centro Destino"
                                             @bind-Value="_item.Destino"
                                             SearchFunc="@SearchCentrosDestino"
                                             ToStringFunc="@(x => x?.Nombre ?? "")"
                                             Variant="Variant.Outlined"
                                             Clearable="true"
                                             Immediate="true"
                                             DebounceInterval="300">
                            </MudAutocomplete>
                        </div>

                        <div class="mt-6">
                            <MudSelect @bind-Value="_item.Tipo" Label="Selecciona la condicion"
                                       Variant="Variant.Outlined" ShrinkLabel>
                                
                                <MudSelectItem Value="@("Circuito")">CIRCUITO</MudSelectItem>
                                <MudSelectItem Value="@("Materia Prima")">MATERIA PRIMA</MudSelectItem>
                                <MudSelectItem Value="@("GC")">GC</MudSelectItem>
                                
                            </MudSelect>
                        </div>

                        <div class="mt-6">
                            <MudSelect @bind-Value="_item.Status" Label="Selecciona la estatus"
                                       Variant="Variant.Outlined" ShrinkLabel>
                                
                                <MudSelectItem Value="@("Transito")">Transito</MudSelectItem>
                                
                            </MudSelect>
                        </div>

                        <MudDatePicker Label=Fecha" Class="mt-4" @bind-Date="_date" />

                    </MudForm>

                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mt-3" OnClick="@(async () => await Submit())">Guardar</MudButton>
                           
       
                </MudItem>
  
            </MudGrid>

        </MudTabPanel>
    </MudTabs>
        
</MudPaper>


@code {
    private async Task OnConductorSelected()
    {
        // Después de que _item.Conductor se actualiza, ejecuta esto
        if (_item.Conductor != null && _item.Conductor.Camion != null)
        {
            _item.Camion = _item.Conductor.Camion;
        }
        else
        {
            _item.Camion = null;
        }
        
        await InvokeAsync(StateHasChanged);
    }
}
